@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'hiragino_mincho_prow3';
    src: url('hiraminpro-webfont.woff2') format('woff2'),
         url('hiraminpro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {color: #666; font-family: 'hiragino_mincho_prow3'; font-size: 18px; overflow-x: hidden; font-weight:500;}
p {font-size: 14px;}
a {color: #666; text-decoration: none;}
a:hover {color: #666; text-decoration: none;}
.container-fluid {max-width: 87vw; margin: 0; padding: 0;}
.banner {background-image: url(../images/banner.jpg); height: 100vh; background-size: cover; background-position: center; width: 88vw;}
ul, ol {margin: 0; padding: 0;}
.social-icons {position: fixed; left: 30px; top: 30px; z-index: 1;}
.social-icons img {padding: 0 3px; z-index: 2;}
.navbar-fixed {height: 90vh; position: fixed; width: 160px; right: 0; z-index: 1; box-shadow: 2px 2px 5px 1px #666; background-color: #fff;}
.menu-trigger {position: relative; top: 45px;}
.collapsible-navbar {background-color: #474747; right: 160px; width: 300px; position: fixed; height: 100vh; z-index: 1;}
.collapsible-navbar a {color: #fff; text-decoration: none;}
.collapsible-navbar a:hover {opacity: 0.5;}
.menu-text {text-transform: uppercase; letter-spacing: 2px; font-size: 11px; display: block; padding-top: 15px;}
.menu-trigger a {color: #666; text-decoration: none; position: absolute; right: 58px;}
.menu-trigger a:hover {opacity: 0.9;}
.logo {height: 90%;}
.logo img {margin: auto;}
.contact-link {height: 10vh; width: 160px; background-color: #474747; position: fixed; right: 0; bottom: 0; z-index: 1; transition: ease-in-out all 0.5s;}
.contact-link:hover{background-color: #666; }
.contact-link p {color: #fff; margin: auto; }
.banner-text {color: #fff; text-transform: uppercase; z-index: 0;}
.banner-text h1 {letter-spacing: 16px; font-size: 40px; position: absolute; bottom: 0; right: 15%; font-weight: bold;}

.vertical-banner {writing-mode: vertical-rl;
    text-orientation: upright;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 14%;
    bottom: 10px;}
.vertical-text {right: 20% !important; bottom: 10% !important;}

.nav-list {color: #fff; list-style-type: none;}

.nav-list li { border-bottom: 1px dotted #777; padding: 8%; font-size: 14px;}
.nav-icon {background-image:url(../images/list-icon.png;)}
.nav-desc {color: #fff; list-style-type: none; padding: 10px 25px;}
.nav-desc li {font-size: 14px; padding: 5px;}

/* first section */

.about {background-image: url("../images/about.JPG"); background-size: cover; background-position: center; background-color: rgba(0,0,0,0.4);}
.imgText {font-size: 26px; letter-spacing: 4px; padding-bottom: 30px; font-weight: 500;}
.textBlock p {line-height: 2; font-size: 16px;}
.textBlock {padding: 90px;}
.blackBackdrop{background: rgba(0, 0, 0, 0.5); height: 100%;}
.text-bg {background-image: url(../images/textblock-bg.jpg);}

/* grow animation */
.grow-container {position: relative; overflow: hidden; overflow-x: hidden; overflow-y: hidden;}
.grow {  transition: all 800ms ease-in-out;}
.grow:hover {transform: scale(1.1);}


.top-icon {margin: auto; padding: 60px 0 30px 0;}
.news-section {position: relative; right: 5px; text-align: center;}
.news-section h2 {font-size: 30px; align-items: baseline; position: relative; font-weight: 800;}
.news-section h2 span {font-size: 12px; margin: 0 -25px 0 25px; align-items: baseline; letter-spacing: 2px;}

.swiper-container { width: 100%; height: 100%; z-index: 0 !important;
    }

.swiper-slide img {padding-top: 30px;}
    .swiper-slide {text-align: left;font-size: 16px;color: #666; background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: block !important;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;padding-bottom: 30px;
    }

.swiper-slide p {margin-top: 15px; font-size: 16px;}
.swiper-button-next {
    background-image: url(../images/slider-next.png) !important;
    right: 10px;
    left: auto;
}
.swiper-button-prev {background-image: url(../images/slider-prev.png) !important;}

.swiper-button-next {right: 65px !important; height: 20px !important; width: 30px !important;}
.swiper-button-prev {height: 20px !important; left: 30px !important;}
.swiper-container {padding: 30px 90px 30px 60px !important;}

.section-1 {background-image: url(../images/11147133_1338176416199887_3343273924380815686_o.jpg); background-size: cover; height: 100%;}
.section-2 {background-image: url("../images/20140429 1154.jpg"); background-size: cover; height: 100%;}
.section-3 {background-image: url(../images/0a63830e9e8b991ce6e10431449dc52b_l.jpg); background-size: cover; height: 100%;}
.section-4 {background-image: url(../images/pixta_32492023_S.jpg); background-size: cover; background-position: center; height: 100%;}
.section-5 {background-image: url(../images/section-5.jpg); background-size: cover; background-position: center; height: 100%;}
.custom-btn { background: transparent; border: 1px solid #bbb; width: 60%; border-radius: 6px; padding: 8px; position: relative; cursor:pointer; transition: all ease-in-out 500ms;}
.custom-btn:hover {color: #fff; background-color: #979797; }
.small-btn {width:55px; font-size: 12px; border-radius: 0; padding: 2px !important;}
.small-btn:hover {color: #666; background-color: #fff;}
.custom-btn img {position: absolute; top: 15px; left: 15px;}
.price-block{padding: 45px;}
.pricing span {background-color: #f0f0f0; padding: 7px 30px; font-size: 14px; margin: 0 30px; transition: all ease-in-out 500ms; letter-spacing: 2px;}
.news-section p img {margin: auto 0;}
.pricing a {text-decoration: none; color: #555;}
.c-blue{background-color:#165e82; color: #fff; width: 23%; transition: ease-in-out 700ms;}
.c-blue:hover{opacity: 0.9; background-color: #165e82; color: #fff;}

.right-button {position: absolute; right: 15px; width:10%; padding: 6px; font-size: 11px; align-items: baseline; border-radius: 2px !important; border: none;}

.pr-hd-padding {padding-top: 45px;}

.contact-details {margin-bottom: 45px;}
.contact-details p {display: inline-block; position: relative; top: 20px; left: 20px; color: #165e82;}
.call-button {background: transparent; color: #165e82; cursor: pointer; border: none; font-size: 30px; font-weight: bold;}
.call-button span {font-size: 16px; text-align: right; position: relative; top: -7px;}
.call-button img {width: 25px;}
.contact-links {padding: 30px;}
.ct-link {background: transparent; color: #666; cursor: pointer; border: none; font-size: 14px; font-weight: bold; width: 100%; padding: 10px; border-left: 1px solid #666;}
.list-icon {position: absolute; top: 15px; left: 50px;}

.officeMap {-webkit-filter: grayscale(100%); filter: grayscale(100%);}

.footer-bg {background-color: #464646; padding: 60px 60px 5px; color: #fff;}
.footer-1 {font-size: 12px;}
.footer-2, .footer-3, .footer-4 {font-size: 14px;}
.social-footer {padding-top: 15px;}
.social-footer img {padding: 0 6px;}
.footer-list {list-style-type: none;}
.footer-list li {padding: 5px;}
.footer-segment {font-size: 12px; padding-top: 60px; letter-spacing: 2px;}
.to-top {position: absolute; height: 90px;right: 75px; width: 15px; background: url(../images/to-top.png); background-size: cover; z-index: 1;}
.plus-icon {background-image:url(../images/plus-icon.png); height: 30px;}
.footer-list a{color: #fff;}
.footer-list a:hover {opacity: 0.8;}

/*fixers*/
.dotted {border-top: 1px dashed rgba(0,0,0,0.5);}
.dotted-w {border-top: 1px dashed rgba(255,255,255,0.5);}
.digit {font-size: 22px; letter-spacing: 3px;}
.c-black {color: #666 !important;}
.c-white {color: #fff !important;}
.standard-link {color: #666; text-decoration: none;}
.standard-link:hover {color: #555; text-decoration: none;}
.br-on-mobile {
    display: none;
}
.pricing-padding-fixer {padding-bottom: 25px;}




@media(max-width:767px)
{
	.br-on-mobile {
        display: static;
    }
	.reverseOnMobile {
    flex-direction: column-reverse !important;
	}
	.p-0-sm {padding: 0 !important;}
	.contact-link-sm {height: 10vh; background-color: #474747; position: fixed; z-index: 1; transition: ease-in-out all 0.5s; padding: 15px;}
	.contact-link-sm:hover{background-color: #fff;}
	.collapsible-navbar {width: 75%; top: 80px; left: 0;}
	.nav-list li {padding: 10px 20px;}
	.sm-only {display: block !important;}
	.pc-only {display: none !important;}
	.banner{width: 100%; height: 75vh; position: relative; background-position-y: 90px;}
	.container-fluid{max-width: 100% !important; padding-right: 15px; padding-left: 15px;}
	.navbar-fixed {width: 100%; height: 80px;}
	.logo img {margin-left: 15px;}
	.menu-trigger {top: 25px; left: 35px;}
	.contact-link-sm {background-color: #fff; width: 100%; height: 80px; top: 80px;}
	.contact-link-sm .fas {position: absolute; left: 30px; top: 30px;}
	.contact-link-sm button {width: 95%; margin: 0 auto; padding: 10px; background-color: #165e82; color: #fff; border: none; border-radius: 8px;}
	.banner-text h1 {right: 5%;}
	.textBlock {padding: 40px;}
	.imgText {font-size: 22px;}
	.section-1, .section-2, .section-3, .section-4, .section-5 {
    height: 300px; background-position: center;
	}
	.custom-btn {padding: 10px;}
	.custom-btn img {top: 18px;}
	.section-btn {width: 100%;}
	.textBlock p {font-size: 14px; padding-bottom: 15px;}
	.news-section {right: 0;}
	.news-section h2 {padding-bottom: 15px;}
	.news-section h2 span {display: block; margin: 15px 0;}
	.pricing span {display: inline-block; width: 120px; margin: 5px; padding: 5px;}
	.price-block {padding: 0;}
	.price-sm {position: relative; width: 35%; top: -28px; background-color: #fff; margin: 0 auto; font-size: 16px;}
	
	
	.swiper-slide p {text-align: center;}
	.price-img {width: 100%;}
	
	.list-icon {top: 14px; left: 37px;}
	.right-button {position: relative; display: block; margin: 30px auto 90px auto; width: 50%; right: 0; border-radius: 3px !important; font-size: 14px;}
	.ct-link {border: none !important;}
	
	.news-sm-wrapper {text-align: left;}
	.news-sm-wrapper img {width: 100%;}
	.news-sm-wrapper p {font-size: 16px; margin-top: 15px;}
	.news-sm-wrapper-div { text-align: left;}
	.news-sm-wrapper-div p{width: 55%; font-size: 16px;}
	.pr-hd-padding {padding-top: 5px;}
	.price-block .swiper-slide img {padding-top: 5px;}
	.price-block .swiper-slide p {margin-bottom: 0;}
	.price-block .swiper-slide span {font-size: 18px;}
	.price-block .swiper-slide {padding-bottom: 30;}
	.price-block .swiper-slide hr {width: 80%; margin: 1rem auto;}
	.price-block .swiper-slide p img {position: relative; left: 75px; bottom: 3px;}
	.price-section .swiper-slide {padding-bottom: 0;}
	.contact-section p span {font-size: 16px; font-weight: 600; padding-bottom: 5px; display: block;}
	.contact-details .custom-btn {width: 80%;}
	.contact-details {text-align: center;}
	.map-section span {display: block; padding-bottom: 5px;}
	.footer-bg {text-align: center;}
	.icon-plus {position: relative; left: 30px;}
	.footer-segment p {font-size: 12px;}
	.to-top {right:15px; bottom: 130px; background: none; height: 50px;}
	.fixed-contact {position: fixed; right: 0; bottom: 30px; z-index: 1}
	.fixed-contact img {display: block;}
	.collapsible-navbar-price {text-align: center;}
	.collapsible-navbar-price a {color: #666; text-decoration: none;}
	.footer-collapsible .nav-desc li {color: #fff;}
	
	/* fixers */
	.pricing-padding-fixer {padding-bottom: 0;}
	.vertical-banner {right: 5%; bottom: 0;}
	.vertical-banner h1 {
    letter-spacing: 2px;
    font-size: 25px;
		bottom: 0;
}
	
	@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
	  .container-fluid {max-width: 85vw !important;}
}


@media(min-width: 1600px) {
  .container-fluid {
    max-width: 89vw !important;
  }
	.banner {width: 89vw !important;}
}
@media(min-width: 1900px) {
  .container-fluid {
    max-width: 90vw !important;
  }
	.banner {width: 90vw !important;}
}
