@charset "utf-8";
/* CSS Document */

body {color: #666; font-family: "Noto Serif", serif; font-size: 18px; overflow-x: hidden; font-weight:500;}
p {font-size: 14px;}
a {color: #666; text-decoration: none;}
a:hover {color: #666; text-decoration: none;}
.container-fluid {max-width: 87vw; margin: 0; padding: 0;}
.banner {background-image: url(../images/banner.jpg); height: 100vh; background-size: cover; background-position: center; width: 89vw;}
ul, ol {margin: 0; padding: 0;}
.social-icons {position: fixed; left: 30px; top: 30px; z-index: 1;}
.social-icons img {padding: 0 3px; z-index: 2;}
.navbar-fixed {height: 90vh; position: fixed; width: 160px; right: 0; z-index: 1; box-shadow: 2px 2px 5px 1px #666; background-color: #fff;}
.menu-trigger {position: relative; top: 45px;}
.collapsible-navbar {background-color: #474747; right: 160px; width: 300px; position: fixed; height: 100vh; z-index: 1;}
.collapsible-navbar a {color: #fff; text-decoration: none;}
.collapsible-navbar a:hover {opacity: 0.5;}
.menu-text {text-transform: uppercase; letter-spacing: 2px; font-size: 11px; display: block; padding-top: 15px;}
.menu-trigger a {color: #666; text-decoration: none; position: absolute; right: 58px;}
.menu-trigger a:hover {opacity: 0.9;}
.logo {height: 90%;}
.logo img {margin: auto;}
.contact-link {height: 10vh; width: 160px; background-color: #474747; position: fixed; right: 0; bottom: 0; z-index: 1; transition: ease-in-out all 0.5s;}
.contact-link:hover{background-color: #666; }
.contact-link p {color: #fff; margin: auto; }
.banner-text {color: #fff; text-transform: uppercase; z-index: 0;}
.banner-text h1 {letter-spacing: 16px; font-size: 40px; position: absolute; bottom: 0; right: 15%; font-weight: bold;}

.vertical-banner {    position: absolute;
    right: 17%;
    bottom: 30px;}
.nav-list {color: #fff; list-style-type: none;}

.nav-list li { border-bottom: 1px dotted #777; padding: 6%; font-size: 14px;}
.nav-icon {background-image:url(../images/list-icon.png;)}
.nav-desc {color: #fff; list-style-type: none; padding: 10px 25px;}
.nav-desc li {font-size: 14px; padding: 5px;}

/* first section */

.about {background-image: url("../images/about.JPG"); background-size: cover; background-position: center; background-color: rgba(0,0,0,0.4);}
.imgText {font-size: 24px; letter-spacing: 2px; line-height: 1.6em; padding-bottom: 30px; font-weight: 500;}
.textBlock p {font-size: 16px; letter-spacing: 1px; line-height: 1.9; text-align: justify; margin-bottom: 3rem;}
.textBlock {padding: 90px;}
.blackBackdrop{background: rgba(0, 0, 0, 0.6); height: 100%;}
.text-bg {background-image: url(../images/textblock-bg.jpg);}

/* grow animation */
.grow-container {position: relative; overflow: hidden; overflow-x: hidden; overflow-y: hidden;}
.grow {  transition: all 800ms ease-in-out;}
.grow:hover {transform: scale(1.1);}


.top-icon {margin: auto; padding: 60px 0 30px 0;}
.news-section {position: relative; right: 5px; text-align: center;}
.news-section h2 {font-size: 30px; align-items: baseline; position: relative; font-weight: 800; letter-spacing: 4px;}
.news-section h2 span {font-size: 12px; margin: 0 -25px 0 25px; align-items: baseline; letter-spacing: 2px;}

.swiper-container { width: 100%; height: 100%; z-index: 0 !important;
    }

.swiper-slide img {padding-top: 30px;}
    .swiper-slide {text-align: left;font-size: 16px;color: #666; background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: block !important;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;padding-bottom: 30px;
    }

.swiper-slide p {margin-top: 15px; font-size: 14px; line-height: 22px;}
.swiper-button-next {
    background-image: url(../images/slider-next.png) !important;
    right: 10px;
    left: auto;
}
.swiper-button-prev {background-image: url(../images/slider-prev.png) !important;}

.swiper-button-next {right: 65px !important; height: 20px !important; width: 30px !important;}
.swiper-button-prev {height: 20px !important; left: 30px !important;}
.swiper-container {padding: 30px 90px 30px 60px !important;}

.section-1 {background-image: url(../images/11147133_1338176416199887_3343273924380815686_o.jpg); background-size: cover; height: 100%;}
.section-2 {background-image: url("../images/course-ebiyamaru.jpg"); background-size: cover; height: 100%;}
.section-3 {background-image: url(../images/0a63830e9e8b991ce6e10431449dc52b_l.jpg); background-size: cover; height: 100%;}
.section-4 {background-image: url(../images/pixta_32492023_S.jpg); background-size: cover; background-position: center; height: 100%;}
.section-5 {background-image: url(../images/section-5.jpg); background-size: cover; background-position: center; height: 100%;}
.custom-btn { font-size: 16px; background: transparent; border: 1px solid #bbb; width: 60%; border-radius: 6px; padding: 8px; position: relative; cursor:pointer; transition: all ease-in-out 500ms;}
.custom-btn:hover {color: #fff; background-color: #979797; }
.small-btn {width:55px; font-size: 12px; border-radius: 0; padding: 2px !important;}
.small-btn:hover {color: #666; background-color: #fff;}
.custom-btn img {position: absolute; top: 15px; left: 15px;}
.contact-details .custom-btn img {position: static;}
.price-block{padding: 45px;}
.pricing span {padding: 7px 30px; font-size: 16px; margin: 0; transition: all ease-in-out 500ms; letter-spacing: 2px;}
.news-section p img {margin: auto 0;}
.pricing a {text-decoration: none; color: #555;}
.c-blue{background-color:#165e82; color: #fff; width: 23%; transition: ease-in-out 700ms; padding: 11px;}
.c-blue:hover{opacity: 0.9; background-color: #165e82; color: #fff;}

.right-button {position: absolute; right: 15px; width:10%; padding: 6px; font-size: 11px; align-items: baseline; border-radius: 2px !important; border: none;}

.pr-hd-padding {padding-top: 30px;}
.contact-section {padding-top: 45px;}
.contact-section p {font-size: 16px;}
.contact-details {margin-bottom: 45px;}
.contact-details p {display: inline-block; position: relative; top: 20px; left: 20px; color: #165e82;}
.call-button {background: transparent; color: #165e82; cursor: pointer; border: none; font-size: 30px; font-weight: bold; letter-spacing: 1px;}
.call-button span {font-size: 16px; text-align: right; position: relative; top: -7px;}
.call-button img {width: 25px;}
.contact-links {padding: 45px;}
.ct-link {background: transparent; color: #666; cursor: pointer; border: none; font-size: 14px; font-weight: bold; width: 100%; padding: 10px; border-left: 1px solid #666;}
.list-icon {position: absolute; top: 15px; left: 50px;}

.officeMap {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.map-section p {font-size: 16px;}


.footer-bg {background-color: #464646; padding: 60px 60px 5px; color: #fff;}
.footer-1 {font-size: 12px;}
.footer-2, .footer-3, .footer-4 {font-size: 14px;}
.social-footer {padding-top: 30px;}
.social-footer img {padding: 0 6px;}
.footer-list {list-style-type: none;}
.footer-list li {padding: 7px;}
.footer-segment {font-size: 11px; padding-top: 30px; margin: 60px 0;}
.footer-segment p {margin-bottom: 0; font-size: 11px;}

.to-top {position: absolute; height: 90px;right: 75px; width: 10px; bottom: 30px; background: url(../images/to-top.png); background-size: cover;}
.plus-icon {background-image:url(../images/plus-icon.png); height: 30px;}
.footer-list a{color: #fff;}
.footer-list a:hover {opacity: 0.8;}


/* shipping page */

.inner-banner {width: 88vw; height: 50vh; background-size: cover; position: relative;}
.ship {background-image: url(../images/ship-banner.jpg); background-position: bottom;}
.breadcrumb {background-color: #F0F0F0;}
.breadcrumb h5 {width: 80%; margin: auto; font-size: 12px; padding: 5px 0;}
.page-heading {text-align: center;}
.page-heading h2 {font-size: 26px;  margin: 60px auto 30px; font-weight: bold; line-height: 2; letter-spacing: 0.1em;}
.page-heading p {font-size: 16px; width: 50%; margin: 45px auto; line-height: 2; letter-spacing: 2px; text-align: justify;}

.ship-img1 {background-image: url(../images/11147133_1338176416199887_3343273924380815686_o.jpg); background-size: cover; background-position: center; height: 50vh;}
.ship-img2 {background-image: url(../images/ship/ship2-yakatabune.jpg); background-size: cover; background-position: center; height: 50vh;}
.ship-img3 {background-image: url(../images/ship/ship3-yakatabune.jpg); background-size: cover; background-position: center; height: 50vh;}
.ship-img4 {background-image: url(../images/ship/ship4-yakatabune.jpg); background-size: cover; background-position: center; height: 50vh;}

.ship-img5 {background-image: url(../images/ship/ship5-yakatabune.jpg); background-size: cover; background-position: center; height: 50vh;}
.ship-img6 {background-image: url(../images/ship/ship6-yakatabune.jpg); background-size: cover; background-position: center; height: 50vh;}
.ship-img7 {background-image: url(../images/ship/ship7-yakatabune.jpg); background-size: cover; background-position: center; height: 50vh;}
.ship-img8 {background-image: url(../images/ship/ship8-yakatabune.jpg); background-size: cover; background-position: center; height: 50vh;}
.w-sm-50 {width: 50%;}
.table-ship {margin-top: 120px;}
.greyDrop {background-color: #F0F0F0;}

.two-column {margin: 45px auto;}
.two-column td {border: 1px solid #B1B1B1; padding: 30px;}

.title-table {margin: 45px auto 75px; }
.title-table td {border: 1px solid #B1B1B1; padding: 25px; text-align: left;}
.title-table th {border: 1px solid #B1B1B1; padding: 25px; width: 25%; text-align: left;}

.page-navigation {height: 100%; margin: 45px 0 0;  padding: 45px 15px !important;}
.page-navigation-links {padding: 10px !important; transition: all ease 0.5s;}
.page-navigation p {color: #fff; margin-bottom: 0 !important; font-size: 18px;}

.course-nav {background-image: url(../images/course-ebiyamaru.jpg); background-size: cover; height: 20vh; background-position: center;}
.plan-nav {background-image: url(../images/0a63830e9e8b991ce6e10431449dc52b_l.jpg); background-size: cover; height: 20vh; background-position: center;}
.situation-nav {background-image: url(../images/pixta_32492023_S.jpg); background-size: cover; height: 20vh; background-position: center;}
.fishing-nav {background-image: url(../images/section-5.jpg); background-size: cover; height: 20vh; background-position: center;}
.page-navigation-links:hover {opacity: 0.8; transition: all ease 0.5s;}

/* course page */

.course {background-image: url(../images/course/course-banner.jpg); background-position: center; }
.navigate-down {margin: auto; color: #BA474E; font-size: 13px;}
.page-heading .fas {color: #BA474E;}
.course-head {text-align: center; width: 90%;}
.course-head h2 {margin: 0 auto; font-size: 22px; padding: 11px; color: #fff; letter-spacing: 2px;}
.course-head span {font-size: 16px;}
.course-item {margin-bottom: 105px;}
.course-img1 {background-image:url("../images/course-ebiyamaru.jpg"); background-size: cover;}
.course-img2 {background-image: url("../images/course2-ebiyamaru.jpg"); background-size: cover;}
.course-img3 {background-image: url("../images/food-3.jpg"); background-size: cover;}
.course-list {color: #666; line-height: 1.5; letter-spacing: 2px; padding-top: 30px;}
.course-list li {font-size: 16px;}
.course-price {padding-top: 45px; padding-left: 30px;}
.course-price span {display: inline-block; width: 200px; margin: 5px; padding: 15px; background-color: #eee; text-align: center;}
.mid-hr {border-top: 1px dashed #B1B1B1; width: 100%;}
.title-mid {width: 15%; background-color: #fff; margin: 0 auto; text-align: center; position: relative; bottom: 35px; font-size: 24px;}
.option-menu-wrapper {margin: 45px;}
.option-menu-content h2 {margin-top: 15px; font-size: 20px;}
.option-menu-content p {font-size: 16px; letter-spacing: 1px; line-height: 1.9; text-align: justify; margin-bottom: 0;}
.souvenir {background-image: url(../images/course/souvenir.jpg); background-size: cover; height: 300px;}
.vegetarian {background-image: url(../images/course/vegeterian-menu.jpg); background-size: cover; height: 300px;}
.kids {background-image: url(../images/course/kids-menu.jpg); background-size: cover; height: 300px;}
.companion {background-image: url(../images/course/companion-menu.jpg); background-size: cover; height: 300px;}
.cake {background-image: url(../images/course/birthday-cake.jpg); background-size: cover; height: 300px;}
.cuisine-1 {background-image: url(../images/course/japanese-cuisine1.jpg); background-size: cover; background-position: center; height: 50vh;}
.cuisine-2 {background-image: url(../images/course/japanese-cuisine2.jpg); background-size: cover; background-position: center; height: 50vh;}
.cuisine-3 {background-image: url(../images/course/japanese-cuisine3.jpg); background-size: cover; background-position: center; height: 50vh;}
.cuisine-4 {background-image: url(../images/course/japanese-cuisine4.jpg); background-size: cover; background-position: center; height: 50vh;}
.tempura-1 {background-image: url(../images/course/tempura-fried2.jpg); background-size: cover; background-position: center; height: 50vh;}
.tempura-2 {background-image: url(../images/course2-ebiyamaru.jpg); background-size: cover; background-position: center; height: 50vh;}
.course-gallery h2 {margin-top: 45px;}
.course-gallery p {margin: 30px auto 60px;}
.c-brown {color: #BA474E;}
.beverage {background-image: url(../images/course/beverage.jpg); background-size: cover; background-position: center; height: 50vh;}

/* plan page */

.plan {background-image: url(../images/plan/plan-ebiyamaru.jpg); background-position: center; }
.plan-img1 {background-image: url("../images/plan/plan-one.jpg"); background-repeat: no-repeat; background-position: right;}
.plan-img2 {background-image: url("../images/plan/plan-two.jpg"); background-repeat: no-repeat; background-position: right;}
.plan-img3 {background-image: url("../images/plan/plan-three.jpg"); background-repeat: no-repeat; background-position: right;}
.plan-content p{margin: 30px 90px; font-size: 16px; text-align: justify; letter-spacing: 0.1em; line-height: 1.5;}
.plan-img-r1 {background-image: url("../images/plan/plan-image-one.jpg"); height: 230px; background-repeat: no-repeat; }
.plan-img-r2 {background-image: url("../images/plan/plan-image-two.jpg"); height: 230px; background-repeat: no-repeat; }
.plan-img-r3 {background-image: url("../images/plan/plan-image-three.jpg"); height: 230px; background-repeat: no-repeat;}
.plan-img-r4 {background-image: url("../images/plan/plan-image-four.jpg"); height: 230px; background-repeat: no-repeat; }
.plan-img-r5 {background-image: url("../images/plan/plan-image-five.jpg"); height: 230px; background-repeat: no-repeat; }
.plan-img-r6 {background-image: url("../images/plan/plan-image-six.jpg"); height: 230px; background-repeat: no-repeat; }
.plan-img-r {margin: 30px 90px 0;}
.plan-img-rb {margin: 0 90px;}

/* situation page */

.situation {background-image: url(../images/situation/situation-banner.jpg); background-position: center;}
.right-text h2 {margin: 45px 60px 0; font-size: 24px; font-weight: bold; letter-spacing: 0.1em;}
.right-text p {margin: 30px 60px; line-height: 2; letter-spacing: 0.1em; text-align: justify; font-size: 16px; font-weight: 500;}
.spring {background-image:url("../images/situation/spring.jpg"); background-size: cover;}
.summer {background-image:url("../images/situation/summer.jpg"); background-size: cover;}
.autumn {background-image:url("../images/situation/autumn.jpg"); background-size: cover;}
.winter {background-image:url("../images/situation/winter.jpg"); background-size: cover;}
.situation-table {border: 1px solid #b1b1b1; margin: 45px auto; width: 100%;}
.situation-table td {padding: 10px 30px; border-right: 1px solid #b1b1b1; font-size: 16px; font-weight: 500;}
.situation-table th {padding: 10px 30px; border-right: 1px solid #b1b1b1; font-size: 18px; font-weight: bold;}
.situation-img1 {background-image: url(../images/situation/situation_image1.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img2 {background-image: url(../images/situation/situation_image2.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img3 {background-image: url(../images/ship/ship5-yakatabune.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img4 {background-image: url(../images/situation/situation_image4.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img5 {background-image: url(../images/situation/situation_image5.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img6 {background-image: url(../images/situation/situation_image6.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img7 {background-image: url(../images/situation/situation_image7.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img8 {background-image: url(../images/situation/situation_image8.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img9 {background-image: url(../images/situation/situation_image9.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img10 {background-image: url(../images/about.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img11 {background-image: url(../images/situation/situation_image10.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img12 {background-image: url(../images/situation/situation_image11.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img13 {background-image: url(../images/situation/situation_image13.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img14 {background-image: url(../images/situation/situation_image14.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img15 {background-image: url(../images/situation/situation_image4.jpg); background-size: cover; background-position: center; height: 30vh;}
.situation-img16 {background-image: url(../images/situation/situation_image16.jpg); background-size: cover; background-position: center; height: 30vh;}

/* news page */

.news {background-image: url("../images/news-banner.jpg");}
.news-content h2 {font-size: 16px; font-weight: bold; margin: 30px 0; letter-spacing: 2px;}
.content {font-size: 14px; text-align: justify; line-height: 1.9; letter-spacing: 0.1em;}
.category-tag {display: inline-block; border-right: 1px solid #b1b1b1; padding-right: 15px;}
.date_posted {display: inline-block; margin-left: 15px; font-size: 12px;}
.news-article { padding: 0 30px; transition: 0.2s ease all; margin-bottom: 45px;}
.news-article:hover img {cursor: pointer; opacity: 0.5; transition: 0.2s ease all;}
.pagination {display: inline-block; margin: 15px auto 75px;}
.pagination a {float: left; padding: 5px 15px; margin: 0 7px;text-decoration: none;}
.active {background-color: #666; color: #fff;}
.pagination .fas {font-size: 30px;}
.horizontal {text-align: center; list-style: none; letter-spacing: -0.4em;}
.horizontal li {display: inline-block; letter-spacing: normal; border-right: 1px solid #666; margin-top: 5px; margin-bottom: 5px; padding: 0 45px; font-size: 14px;}
.horizontal:first-child {border-left: 1px solid #666;}
.horizontal li:hover {opacity: 0.7;}

/* news-single page */
.news-article-full {margin: 0 auto; width: 50%;}
.news-single-pagination {position: relative; text-align: center; margin: 60px 0;}
.left-single-pagination {left: 0; position: absolute; transition: ease all 0.2s;}
.left-single-pagination:hover {opacity: 0.8; transition: ease all 0.2s;}
.right-single-pagination {right:0; position: absolute; transition: ease all 0.2s;}
.right-single-pagination:hover {opacity: 0.8; transition: ease all 0.2s;}
.content-full {letter-spacing: 2px; line-height: 2;}
.news-single-horizontal {margin: 0 0 60px;}
.news-single-horizontal-mid {border: 1px solid #808080; padding: 10px 20px; transition: ease all 0.2s;}
.news-single-horizontal-mid:hover {opacity: 0.8; transition: ease all 0.2s;}
.right-icon {position: absolute; right: -30px;}
.left-icon {position: absolute; left: -30px;}


 /* fishing page */
 .fishing-top {margin-bottom: 30px !important;}
.fishing-table {padding-bottom: 60px !important;}
.table-notes {margin: 0 !important; margin-top: -30px !important; width 100%;}
.page-heading .table-notes p {font-size: 12px; margin-top: -15px; line-height: 2; text-align: justify; margin: 0; width: 100%;}
.fishing-gallery {margin: 0 auto;}
.fishing-flow {margin: 30px;}
.fishing-flow-item {width: 250px; height: 250px;}
.fishing-flow-wrapper {padding: 30px;}
.flow-item1 {background-image: url(../images/fishing/fishing-item1.jpg);}
.flow-item2 {background-image: url(../images/fishing/fishing-item2.jpg);}
.flow-item3 {background-image: url(../images/fishing/fishing-item3.jpg);}
.flow-item4 {background-image: url(../images/fishing/fishing-item4.jpg);}
.flow-item5 {background-image: url(../images/fishing/fishing-item5.jpg);}
.flow-item6 {background-image: url(../images/fishing/fishing-item6.jpg);}


/*fixers*/
.dotted-b {border-bottom: 1px dashed #B1B1B1;}
.dotted-both {border-top: 1px dashed #B1B1B1; border-bottom: 1px dashed #B1B1B1; padding: 15px;}
.dotted-top {border-top: 1px dashed #B1B1B1; padding: 15px; border-bottom: none !important;}
.dotted-bottom {border-bottom: 1px dashed #B1B1B1; padding: 15px;}
.dotted-w {border-top: 1px dashed rgba(255,255,255,0.5);}
.dotted-both-w {border-top: 1px dashed rgba(255,255,255,0.5); border-bottom: 1px dashed rgba(255,255,255,0.5); padding: 15px;}
.border-top {border-top: 1px solid rgba(0,0,0,0.5);}
.border-bottom {border-bottom: 1px solid rgba(0,0,0,0.5);}
.border-right {border-right: 1px solid #666 !important;}
.digit {font-size: 22px; letter-spacing: 3px; line-height: 32px;}
.c-black {color: #666 !important;}
.c-white {color: #fff !important;}
.standard-link {color: #666; text-decoration: none;}
.standard-link:hover {color: #555; text-decoration: none;}
.br-on-mobile {display: none;}
.pricing-padding-fixer {padding-bottom: 25px;}
.line-break {display: block;}
.orangeBackDrop {background-color: #D77452;}
.greenBackDrop {background-color: #559855;}
.yellowBackDrop {background-color: #D4B000;}
.blueBackDrop {background-color: #2a809c;}
.purpleBackDrop {background-color: #885c93;}
.lightbrownBackdrop {background-color: #d78078;}
.lightgreenBackdrop {background-color: #168995;}
.customh1 {font-size: 24px !important;}
.customh2 {font-size: 16px !important;}
.customh4 {font-size: 12px !important;}
.customh5 {font-size: 10px !important;}
ul {list-style: none;}
.w-70 {width: 70%;}

head-text {font-size: 24px; letter-spacing: 2px; line-height: 1.6em; padding-bottom: 30px; font-weight: 500;}




@media(max-width:767px)
{
    .w-50 {width: auto!important;}
	.br-on-mobile {
        display: static;
    }
	.reverseOnMobile {
    flex-direction: column-reverse !important;
	}
	.p-0-sm {padding: 0 !important;}
	.contact-link-sm {height: 10vh; background-color: #474747; position: fixed; z-index: 1; transition: ease-in-out all 0.5s; padding: 15px;}
	.contact-link-sm:hover{background-color: #fff;}
	.collapsible-navbar {width: 75%; top: 80px; right: 0;}
	.nav-list li {padding: 10px 20px;}
	.sm-only {display: block !important;}
	.pc-only {display: none !important;}
	.banner{width: 100%; height: 75vh; position: relative; background-position-y: 30px;}
	.container-fluid{max-width: 100% !important; padding-right: 15px; padding-left: 15px;}
	.navbar-fixed {width: 100%; height: 80px;}
	.logo img {margin-left: 15px;}
	.menu-trigger {top: 25px; left: 35px;}
	.contact-link-sm {background-color: #fff; width: 100%; height: 80px; top: 80px;}
	.contact-link-sm .fas {position: absolute; left: 30px; top: 30px;}
	.contact-link-sm button {width: 95%; margin: 0 auto; padding: 10px; background-color: #165e82; color: #fff; border: none; border-radius: 8px;}
	.banner-text h1 {right: 5%;}
	.textBlock {padding: 40px;}
	.imgText {font-size: 22px;}
	.section-1, .section-2, .section-3, .section-4, .section-5 {
    height: 300px; background-position: center;
	}
	.custom-btn {padding: 10px;}
	.custom-btn img {top: 18px;}
	.section-btn {width: 100%;}
	.textBlock p {font-size: 14px; padding-bottom: 15px;}
	.news-section {right: 0;}
	.news-section h2 {padding-bottom: 15px;}
	.news-section h2 span {display: block; margin: 15px 0;}
	.pricing span {display: inline-block; width: 130px; margin: 5px; padding: 5px;}
	.price-block {padding: 0;}
	.price-sm {position: relative; width: 35%; top: -28px; background-color: #fff; margin: 0 auto; font-size: 16px;}
    
    .collapsible-content {padding: 0; margin-bottom: 15px;}
	
	
	.swiper-slide p {text-align: center;}
	.price-img {width: 100%;}
	
	.list-icon {top: 14px; left: 37px;}
	.right-button {position: relative; display: block; margin: 30px auto 90px auto; width: 50%; right: 0; border-radius: 3px !important; font-size: 14px;}
	.ct-link {border: none !important; padding: 15px;}
	
	.contact-links div {border-bottom: 1px solid #dedede;}
	
	.news-sm-wrapper {text-align: left;}
	.news-sm-wrapper img {width: 100%;}
	.news-sm-wrapper p {font-size: 16px; margin-top: 15px;}
	.news-sm-wrapper-div {text-align: left;}
	.news-sm-wrapper-div p{width: 55%; font-size: 16px;}
	.pr-hd-padding {padding-top: 5px;}
	.price-block .swiper-slide img {padding-top: 5px;}
	.price-block .swiper-slide p {margin-bottom: 15px;}
	.price-block .swiper-slide span {font-size: 18px;}
	.price-block .swiper-slide {padding-bottom: 30;}
	.price-block .swiper-slide hr {width: 80%; margin: 1rem auto;}
    .price-block .swiper-slide p img {position: absolute; right: 75px; }
	.price-section .swiper-slide {padding-bottom: 0;}
	
	.contact-section p span {font-size: 16px; font-weight: 600; padding-bottom: 5px; display: block;}
	.contact-details .custom-btn {width: 80%;}
	.contact-details {text-align: center;}
	.map-section {padding-bottom: 50px;}
	.map-section span {display: block; padding-bottom: 5px;}
	
	.footer-bg {text-align: center;}
	.icon-plus {position: relative; left: 30px;}
	.footer-segment p {font-size: 12px;}
	.to-top {right:15px; bottom: 130px; background: none; height: 50px; z-index: 1;}
	.fixed-contact {position: fixed; right: 0; bottom: 30px; z-index: 1;}
	.fixed-contact img {display: block;}
	.collapsible-navbar-price {text-align: center; margin-bottom: 15px;}
	.collapsible-navbar-price a {color: #666; text-decoration: none;}
	.footer-collapsible .nav-desc li {color: #fff;}
    
    
    /* shipping page */
    .inner-banner {width: 100vw; height: 75vh;}
    .breadcrumb {position: absolute; width: 100%; top: 80px;}
    .two-column {margin: 15px;}
    .two-column td {display: block;}
    .title-table {margin: 15px;}
    .title-table th {width: 35%;}
    .page-heading {margin-bottom: 30px;}
    .page-heading p {width: 90%;}
    .ship-img1, .ship-img2, .ship-img3, .ship-img4, .ship-img5, .ship-img6, .ship-img7, .ship-img8 {height: 35vh;}
    
    /* course page */
    .course {background-image: url("../images/food-3.jpg"); background-size: cover; background-position: center; background-position-y: 80px;}
    .course-img1, .course-img2, .course-img3 {height: 300px;}
    .course-gallery p {width: 95%;}
    .page-heading h2 {font-size: 24px;}
    .course-head {width: 100%;}
    
    
    /* plan page */
    .plan-img-r {margin: 30px 0 0;}
    .plan-img-rb {margin: 0;}
    .plan-content {padding: 0 !important; }
    .plan-content p {margin: 30px 20px;}
    .plan-img1, .plan-img2, .plan-img3 {height: 100vh; background-size: cover;}
    
    
    /* situation page */
    .right-text h2 {text-align: center;}
    .right-text p {margin: 30px 15px;}
    .spring, .summer, .autumn, .winter {height: 300px;}
    
    /* news page */
    .news-article {width: 50%; padding: 0 10px;; display: inline-block !important; margin-bottom: 15px;;}
    .content {display: none;}
    .horizontal li {padding: 0 20px;}
    .horizontal {margin-bottom: 30px;}
    .category-tag, .date-posted {font-size: 10px;}
    .pagination {margin-bottom: 30px;}
    .pagination a {padding: 0 5px;}
    
    /* news full */
    .news-full {text-align: center;}
    .news-article-full {margin: 0 auto; width: 100%;}
    .content-full {padding: 0 15px;}
    .right-icon {right: 10px; top: 15px;}
    .left-icon {left: 10px; top: 15px;}
    .right-single-pagination {right: 30px; width: 100px;}
    .left-single-pagination {left: 30px; width: 100px;}
    .news-single-horizontal-mid {position: relative; top: 75px; padding: 10px 20px; font-size: 12px;}
    

	
	/* fixers */
	.pricing-padding-fixer {padding-bottom: 0;}
	.vertical-banner {right: 5%;}
    .p-0-sm {padding: 0 !important;}
    .m-0-sm {margin: 0 !important;}
    .course-top {margin-bottom: 0;}
    .course-head span {display: block; margin-top: 10px; margin-left: 0 !important;}
    .course-content {padding: 0 !important;}
    .course-list {padding: 30px 15px;}
    .course-list li {padding: 2px;}
    .course-price {text-align: center; padding: 0;}
    .course-price span {width: 130px; margin: 5px; padding: 10px;}
    .course-item {margin-bottom: 30px;}
    .title-mid {width: 50%;}
    .option-menu-wrapper {margin: 0;}
    .option-menu-content p {margin-bottom: 30px;}
    .solid-bottom {border-bottom: 1px solid #b1b1b1;}
	
	.grow:hover {transform: none;}
	.border-right {border: none;}

    .line-break {display: inline;}
	
	@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
	  .container-fluid {max-width: 85vw !important;}
}


@media(min-width: 1600px) {
  .container-fluid {
    max-width: 89vw !important;
  }
	.banner {width: 89vw !important;}
}
@media(min-width: 1900px) {
  .container-fluid {
    max-width: 90vw !important;
  }
	.banner {width: 90vw !important;}
}
